{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<div class="main-container">
  <div class="row justify-content-center">

    <div class="flexbox outer-layout">
      <div class="outer-card card">
        <div class="card-body p-0">
          <div 
            hx-get="/api/ssh-status" 
            hx-trigger="load, every 5s"
            hx-swap="innerHTML"
          >
            <div class="status-header">
                <h3>SSH Server</h3>
                <span class="status-badge">Loading...</span>
            </div>
          </div>
        </div>
      </div>

      <div class="outer-card card">
        <div class="card-body p-0">
          <div 
            hx-get="/api/tmux" 
            hx-trigger="load, every 10s"
            hx-swap="innerHTML"
          >
            <div class="status-header">
                <h3>Tmux Status</h3>
                <span class="status-badge">Detecting...</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="flexbox outer-layout">
      <div class="outer-card card">
        <div class="card-body p-0">
          <div 
            hx-get="/api/uptime" 
            hx-trigger="load, every 5s"
            hx-swap="innerHTML"
          >
            <div class="status-header">
                <h3>Container Stats</h3>
                <span class="status-badge">Loading...</span>
            </div>
          </div>
        </div>
      </div>

      <div class="outer-card card">
        <div class="card-body p-0">
          <div 
            hx-get="/api/zombies" 
            hx-trigger="load, every 10s"
            hx-swap="innerHTML"
          >
            <div class="status-header">
                <h3>Zombie Processes</h3>
                <span class="status-badge">Detecting...</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="flexbox outer-layout">

      <div class="outer-card card">
        <div class="card-body p-0">
          <div 
            hx-get="/api/modified-files"  
            hx-trigger="load, every 5s"
            hx-swap="innerHTML"
          >
            <div class="status-header">
                <h3>Recently modified files</h3>
                <span class="status-badge">Loading...</span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}
