{% extends "base.html" %} {% block title %}Network Connections{% endblock %} {% block body %}

<div class="main-container">
  <div class="row justify-content-center">

      <div class="text-center mb-4">
        <h2 class="fw-bold text-light">Network Connections</h2>
      </div>

      <div class="flexbox outer-layout">
        <div class="table-card card">
          <div
          class="card-body p-0" 
          id="connections-table"
          hx-get="/api/connections"
          hx-trigger="load, every 5s"
          hx-swap="innerHTML"
        >
            <div class="spinner-border spinner-border-sm me-2 text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            Loading connections...
          </div>
        </div>

        <div class="info-section card p-0">
          <div class="card-body p-0">
            <h2 class="text-center p-2">Details</h2>
            <div class="d-flex justify-content-center align-items-center" id="info-box">
              Click a row to see details
            </div>
          </div>
        </div>

      </div>
  </div>
</div>

{% endblock %}
